/* MENU-NAV */
.navbar{
    background: #02070A;
}

.navbar__logo{
    width: 10vh;
}

.navbar__link{
    color: white;
}

.navbar__dropdown-menu{
    background-color: black;
}

.navbar__list{
    background-color: #02070A;
}
